*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
My educational plan involves earning a bachelor.docx
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json

Chapter 7 Projects/7-20-9
Chapter 7 Projects/RandomSets
Chapter 7 Projects/7-20-2
Chapter 8/Chapter 8 Project/8.16.7.cpp
Chapter 8/Chapter 8 Project/crypt
Chapter 8 Projects/project 1/8.16.7.cpp
